<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54615680615-fi29rdo4hfnajvnbks16g3fkji7h2akq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54615680615-fi29rdo4hfnajvnbks16g3fkji7h2akq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>54615680615-vonmv4j6k4qhhdsv9uoaku7filhb3okk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9rPk9los597GzLTPu-KJepwlUyzp2D2s</string>
	<key>GCM_SENDER_ID</key>
	<string>54615680615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quickTakes</string>
	<key>PROJECT_ID</key>
	<string>quick-type-eafa3</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-type-eafa3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54615680615:ios:33e59eef5b5c8d411b96c2</string>
	<key>DATABASE_URL</key>
	<string>https://quick-type-eafa3-default-rtdb.firebaseio.com</string>
</dict>
</plist>